
/* ================= GENERAL ================= */
html, body {
  height: 100%;
  margin: 0;
  font-family: system-ui, sans-serif;
    overflow: hidden; 
}

body {
  display: flex;
  flex-direction: column;
 background: url("https://raw.githubusercontent.com/ahmutec/AMSS-TSMTS/main/img1.png") no-repeat center center fixed;
  background-size: cover;
}

/* ================= NAVBAR ================= */
.top-bar9 {
  background: #076c2a;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
    margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar-brand img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-btn {
  background: #1e88e5;
  color: #fff;
  border-radius: 12px;
  padding: 6px 14px;
  font-size: 0.85rem;
  font-weight: 500;
}

.nav-btn:hover {
  background: #1565c0;
  color: #fff;
}

/* ================= TITLE ================= */
.portal-title {
  font-family: Georgia, "Times New Roman", serif;
  background: rgb(145, 249, 178);
  text-align: center;
  justify-content: center;
  color: #1a1908;
  font-weight: bold;
  padding: 0px;
  font-size: 40px; /* 📱 small devices */
}

/* ================= HERO ================= */
.hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  
}

.portal-box {
  font-family: Georgia, serif;
 border-bottom: 1rem solid rgb(28,167,214);
  border-right: 1rem solid rgb(214,56,28);
  border-top: 1rem solid rgb(237,226,11);
  border-left: 1rem solid rgb(37,210,18);
  border-bottom-right-radius: 2rem;
  padding: 15px;
 
  color: #fff;
  text-align: center;


background: rgba(1,14,9,0.5);
  margin: 7rem auto 1rem auto;
  padding: 1rem;
  text-align: center;
  max-width: 500px;

}

/* ================= FOOTER ================= */
footer {
  background: rgb(17, 90, 40);
  color: #fff;
  padding: 6px;
  text-align: center;
  font-size: 0.8rem;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 5px;
  flex-wrap: wrap;
}

/* ================= MOBILE ================= */
@media (max-width: 576px) {
  .portal-title {
    font-size: 1rem;
  }
  .portal-box {
    font-size: 0.85rem;
  }
}
